#app{
  height:90vh;
	text-align:center;
}
.night{
  background-color: black;
  color:white;
}

.day{
  background-color: white;
  color:black;
}


#swap{
  outline:0;
}
#ptag {
	color:cyan;
}

.button_night{
  background-color:blue;
  color:white; 
}
